.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    /* align-items: center; */
    gap: 10px 20px; /* Set gap only horizontally */
    height: 100%;
}

.card{
   width: 35%;
}