.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 20px;
    height: 100%;
    align-content: flex-start;
}

.card {
    flex: 0 1 35%;
    justify-content: center;
    display: flex;
    aspect-ratio: 1/1;
}